.search{
  display: flex;
  justify-content: space-between;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  border-radius: 4px;
  max-width: 353px;
  height: 36px;
  padding: 0 0 0 34px;
  position: relative;
  .search-input{
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
  }
  .search-button-icon{
    width: 52px;
    background: #F7F7F7;
    border-left: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}