.clients-page{
  flex: 1 1 auto;
  background: #f5f5f575;
  padding: 24px 0 65px 0;
  .page-title{
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 22px;
    color: #2270E4;
  }
}