.checkbox-wrapper{
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  .checkbox{
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
  }
  .checkbox-label{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}